radovi/RPPP_2007-08_primjeri-za-izradu-aplikacija/Mobilne/Skladiste/Web References/Servis/Skladiste.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DohvatiStavkeUkupno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DatumOd" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DatumDo" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DohvatiStavkeUkupnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DohvatiStavkeUkupnoResult" type="tns:ArrayOfStavka" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStavka">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Stavka" nillable="true" type="tns:Stavka" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Stavka">
        <s:complexContent mixed="false">
          <s:extension base="tns:BusinessBase">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdDokumenta" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="SifArtikla" nillable="true" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="KolArtikla" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="JedCijArtikla" nillable="true" type="s:decimal" />
              <s:element minOccurs="1" maxOccurs="1" name="PostoRabat" nillable="true" type="s:decimal" />
              <s:element minOccurs="0" maxOccurs="1" name="NazArtikla" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="JedMjereArtikla" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BusinessBase" abstract="true" />
      <s:element name="NapraviNarudzbu">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaStavki" type="tns:ArrayOfStavka" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NapraviNarudzbuResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DohvatiStavkeUkupnoSoapIn">
    <wsdl:part name="parameters" element="tns:DohvatiStavkeUkupno" />
  </wsdl:message>
  <wsdl:message name="DohvatiStavkeUkupnoSoapOut">
    <wsdl:part name="parameters" element="tns:DohvatiStavkeUkupnoResponse" />
  </wsdl:message>
  <wsdl:message name="NapraviNarudzbuSoapIn">
    <wsdl:part name="parameters" element="tns:NapraviNarudzbu" />
  </wsdl:message>
  <wsdl:message name="NapraviNarudzbuSoapOut">
    <wsdl:part name="parameters" element="tns:NapraviNarudzbuResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="DohvatiStavkeUkupno">
      <wsdl:input message="tns:DohvatiStavkeUkupnoSoapIn" />
      <wsdl:output message="tns:DohvatiStavkeUkupnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NapraviNarudzbu">
      <wsdl:input message="tns:NapraviNarudzbuSoapIn" />
      <wsdl:output message="tns:NapraviNarudzbuSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DohvatiStavkeUkupno">
      <soap:operation soapAction="http://tempuri.org/DohvatiStavkeUkupno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NapraviNarudzbu">
      <soap:operation soapAction="http://tempuri.org/NapraviNarudzbu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DohvatiStavkeUkupno">
      <soap12:operation soapAction="http://tempuri.org/DohvatiStavkeUkupno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NapraviNarudzbu">
      <soap12:operation soapAction="http://tempuri.org/NapraviNarudzbu" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://161.53.18.113/firmaservis/Skladiste.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://161.53.18.113/firmaservis/Skladiste.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>